/*
 * @Author: tujiawang 
 * @Date: 2017-05-08 16:42:34 
 * @Last Modified by: tujiawang
 * @Last Modified time: 2017-05-08 16:47:17
 */
.exchanege {
  margin-top: 20px;
  padding: 0 32px;
}
.exchanege .cardquery {
  margin-top: 30px;
}
.exchanege .cardquery input {
  background-color: transparent;
  height: 34px;
  width: 55%;
  font-size: 14px;
  vertical-align: top;
  border: none;
  outline: medium;
  font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
  font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}
.exchanege .cardquery label {
  font-weight: normal;
  line-height: 34px;
  margin: 0 15px 0 10px;
  float: left;
  display: inline-block;
  max-width: 100%;
}
.exchanege .cardquery .line {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  height: 5px;
  margin-top: -5px;
}
